.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
.DS_Store
*.pdf
*.png
*.xlsx
*.rda
*.rds
*.o
*.so
*.dll
*.log
*.txt
*_render.*
.Rprofile
README.Rmd
drawEmb.Rmd
readStarryNiteZip.Rmd
.Rprofile
renv/*
renv*
*temp*
output_*
custom.css
